/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel.rar
public.rar
public/css/main.min.css
public/css/util.min.css
public/js/main.min.js